* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Marcellus", serif;
}
.container {
  padding: 0 40px;
}
.container-2 {
  padding: 0 80px;
  width: 100%;
}
::selection {
  color: #be9c79;
}
a {
  text-decoration: none;
}
#header-all {
  background-color: #26262681;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  position: fixed;
}
.novbar-menu {
  width: 70%;
  display: flex;
  justify-content: right;
}
.novbar ul {
  display: flex;
  justify-content: space-evenly;
}
.novbar ul li {
  list-style: none;
  padding: 0 30px;
  color: white;
  position: relative;
}
.novbar li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
  background-color: white;
}

.novbar li:hover::before {
  width: 100%;
}

.header-logo {
  width: 10%;
}
.novbar {
  width: 80%;
}
.menu {
  width: 15%;
}
.header-logo img {
  width: 100%;
}
.menu i {
  margin-right: 20px;
  color: white;
}
#shoping-icon {
  position: relative;
}
.shoping-top {
  font-size: 10px;
  position: absolute;
  top: -5px;
  right: -8px;
}
#master-all {
  background-image: url(photos/header-backgraund.jpg);
  width: 100%;
  padding: 370px 0;
  background-position: center;
  background-size: cover;
}
#master-all .content {
  position: absolute;
  top: 150px;
  left: 40%;
  text-align: center;
}
#master-all .content h3 {
  font-size: 100px;
  color: white;
}
#master-all .content p {
  font-size: 18px;
  color: white;
  margin-bottom: 100px;
}
#master-all .content .content-a {
  padding: 23px 50px;
  border: 2px solid white;
  color: white;
}
.positon-fix1 {
  width: 5%;
  background-color: #ef2853;
  position: fixed;
  right: 0;
  top: 50%;
  height: 30px;
  text-align: center;
}
.positon-fix1 i {
  color: white;
}
.positon-fix2 {
  text-align: center;
  width: 5%;
  height: 30px;
  background-color: white;
  position: fixed;
  right: 0;
  top: 60%;
}
.positon-fix2 i {
  color: #ef2853;
}
.delicious-text {
  text-align: center;
  padding: 100px 0;
}
.delicious-text h2 {
  font-size: 45px;
  font-weight: 200;
  margin: 20px 0;
}
.delicious-text h6 {
  font-size: 18px;
  font-weight: 100;
  color: #2d3e50;
  margin: 20px 0;
}
.delicious-pics {
  display: flex;
  justify-content: space-evenly;
}
.delicious-pics .box {
  text-align: center;
  width: 20%;
}
.delicious-pics h6 {
  font-size: 20px;
  font-weight: 100;
}
.delicious-pics p {
  font-size: 15px;
  color: #2d3e50;
  margin-top: 6px;
}
#cofee-harald {
  background-image: url(photos/coofee\ harald\ backgraund\ image.jpg);
}
#cofee-harald .text {
  text-align: center;
  padding: 100px 0;
}
#cofee-harald .text h2 {
  font-size: 45px;
  font-weight: 200;
}
#cofee-harald .pics .box {
  width: 30%;
}
#cofee-harald .pics .box img {
  width: 100%;
}
#cofee-harald .pics {
  display: flex;
  justify-content: space-evenly;
}
#cofee-harald .pics .box .read-more {
  position: relative;
  margin-left: 20px;
  color: black;
  transition: 0.5s all;
}
#cofee-harald .pics .box .read-more:hover {
  color: #be9c79;
}

#cofee-harald .pics .box .read-more::before {
  content: "";
  width: 15%;
  top: 50%;
  left: -25%;
  background-color: black;
  height: 2px;
  position: absolute;
  transition: 0.5s all;
}
#cofee-harald .pics .box .read-more:hover::before {
  width: 25%;
  background-color: #be9c79;
}

#cofee-harald .pics .box .head {
  color: black;
  font-size: 20px;
  padding: 20px 0 0;
}
#cofee-harald .pics .box p {
  color: #2d3e50;
  font-size: 15px;
  font-weight: 200;
  padding: 20px 0;
}
#cofee-body-logo {
  margin-top: 250px;
  text-align: center;
  padding: 100px 0;
  background-image: url(photos/coofe-body-logo-backgraund.jpg);
  background-attachment: fixed;
}
#cofee-body-number .number-boxs {
  display: flex;
  justify-content: space-between;
}

#cofee-body-number .box {
  width: 22%;
  padding: 100px 0;
  text-align: center;
}
#cofee-body-number .box h1 {
  font-size: 55px;
  color: #be9c79;
  font-weight: 200;
}
#cofee-body-number .box h4 {
  font-size: 20px;
  margin-top: 31px;

  font-weight: 200;
}
#cofee-body-number .box p {
  font-size: 20px;
  margin-top: 31px;
  color: #2d3e50;
  font-weight: 200;
}
#online-cofee-shop {
  background-image: url(photos/cofee-shop-backgraund.jpg);
  background-position: center;
  background-size: cover;
}
.shop-text {
  text-align: center;
  padding: 100px 0;
}
.shop-text h2 {
  font-size: 45px;
  font-weight: 200;
  margin: 20px 0;
}
.shop-text h6 {
  font-size: 18px;
  font-weight: 100;
  color: #2d3e50;
  margin: 20px 0;
}
.shop-pics {
  display: flex;
  justify-content: space-evenly;
}
.shop-pics .box {
  text-align: center;
  width: 20%;
}
.shop-pics h6 {
  font-size: 20px;
  font-weight: 100;
}
.shop-pics p {
  font-size: 15px;
  color: #2d3e50;
  margin-top: 6px;
}
.shop-pics .box img {
  width: 100%;
}
.galery-text {
  text-align: center;
  padding: 100px 0;
}
.galery-text h2 {
  font-size: 45px;
  font-weight: 200;
  margin: 20px 0;
}
.galery-text h6 {
  font-size: 18px;
  font-weight: 100;
  color: #2d3e50;
  margin: 20px 0;
}
.galery-pics .box1 {
  background-image: url(photos/galery-1.jpg);
  width: 24%;
  text-align: center;
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}
.galery-pics .box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 h4 {
  font-size: 30px;
  color: white;
}
.galery-pics .box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 p {
  font-size: 15px;
  color: white;
}

.galery-pics .box2 {
  background-image: url(photos/galery-2.jpg);
  width: 24%;
  text-align: center;
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.galery-pics .box3 {
  background-image: url(photos/galery-3.jpg);
  width: 24%;
  text-align: center;
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.galery-pics .box4 {
  background-image: url(photos/galery-4.jpg);
  width: 24%;
  text-align: center;
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.galery-pics .box5 {
  background-image: url(photos/galery-5.jpg);
  width: 24%;
  text-align: center;
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.galery-pics .box6 {
  background-image: url(photos/galery-6.jpg);
  width: 24%;
  text-align: center;
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.galery-pics .box7 {
  background-image: url(photos/galery-7.jpg);
  width: 24%;
  text-align: center;
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.galery-pics .box8 {
  background-image: url(photos/galery-8.jpg);
  width: 24%;
  text-align: center;
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.galery-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#about .box {
  width: 18%;
}
#about .box img {
  width: 100%;
}

#about {
  display: flex;
  
  padding: 80px 0;
}
.about-2 {
  display: flex;
  justify-content: space-between;
  background-image: url(photos/coofee\ harald\ backgraund\ image.jpg);
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}
.about-2 .text {
  color: #262626;
  font-weight: 200;
  width: 70%;
}
.about-2 .buttom {
  width: 20%;
}
.about-2 .buttom a {
  padding: 20px 35px;
  background-color: #be9c79;
  color: white;
}
#e-mail {
  text-align: center;
  background-image: url(photos/cofee-footer.jpg);
  background-position: center;
  background-size: cover;
}
#e-mail img {
  width: 10%;
  margin-bottom: 20px;
}
#e-mail p {
  color: white;
}
#e-mail a {
  margin: 40px 0;
  color: white;
  font-size: 15px;
}
#e-mail a:hover {
  color: #be9c79;
}

#e-mail h6 {
  font-size: 40px;
  color: white;
  font-weight: 200;
  padding: 20px 0;
}
#e-mail .input input {
  padding: 20px 100px;
  background-color: transparent;
  border: 2px solid white;
}
#e-mail .input {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
#e-mail .input button {
  padding: 20px 20px;
  cursor: pointer;
}
footer{
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  background-color: #262626;
}
footer .box-tex {
  width: 30%;
}
footer .box-novbar {
  width: 40%;
}
footer .box-icons {
  width: 30%;
  text-align: right;
  padding-right: 20px;
}
footer .box-novbar ul{
  display: flex;
  justify-content: space-evenly;
}
footer .box-novbar ul li{
  list-style: none;
  color: white;
}
footer .box-icons i{
  margin: 0 20px;
  color: white;
}
footer .box-tex p{
  color: white;
}
.positon-fix3{
  position: fixed;
  right: 0;
  bottom: 0;
}
.positon-fix3 i{
 color: white;
 padding: 20px 30px;
 background-color: #ef2853;
 border-radius: 20px;
 border: 1px solid transparent;
}